.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-container{
  display: flex;
  flex-direction: row;
  margin: 1.5rem;
  background-color:rgb(228, 242, 252);
  padding: 1.5rem;
  width: 40rem;
  margin-left: 10rem;
}
.user-img{
  border-radius: 50%;
  object-fit: cover;
}
.user-name{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
}
.icon-buttons{
  display: flex;
  margin-left: auto;
  align-items: flex-end;
}
.add-user,.edit-user{
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  padding: 1.5rem;
  gap: 1.5em;
}
.profile{
  display: flex;
  justify-content: center;
  margin: 1.5rem;

}
.home{
  height: 100vh;
  background-image:url( "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbkNkZ6a95HKR75PQqxYkK1rXhX33IyxPN6A&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
    align-items: center;
    justify-content: space-around;
}
.home-img{
  height:50%;
}
.all-users{
  background-color: rgb(210, 232, 245);
  padding: 1.5rem;
}
.user-container:hover{
  transform: scale(1.1);
}